*{
  font-family: 'Gowun Dodum', sans-serif;
  text-align: center;
  margin: 3px auto;
}
table {
  margin: 30px auto;
  border-spacing: 0px;
  border-collapse: separate;
  width: 600px;
}
table thead {

  background: #c0c0c0;
} 